<div class="container">
  <form class="form mat-elevation-z4">
    <h1>S.O.S. TI</h1>

    <img
      src="assets/img/img-login.svg"
      alt="Sistema de Ordens de Serviços de TI"
    />

    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input
        [formControl]="email"
        required
        [(ngModel)]="credentials.email"
        name="email"
        matInput
        placeholder="Ex. email@mail.com"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input
        [formControl]="password"
        required
        [(ngModel)]="credentials.password"
        name="password"
        type="password"
        matInput
        placeholder="********"
      />
    </mat-form-field>
    <button
      (click)="login()"
      [disabled]="!validateFields()"
      class="full-width mat-elevation-z2"
      mat-stroked-button
      color="primary"
    >
      Login
    </button>
  </form>
</div>
